<footer class="oleez-footer wow fadeInUp">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="widget-title" style="color:#f7b500">CONSTITUTION OF SCIENCE</h2>
                    <p class="footer-intro-text">Don't be shy, get in touch with us and create the world again!</p>
                    <!-- <nav class="footer-social-links">
                        <a href="#!">Fb</a>
                        <a href="#!">Tw</a>
                        <a href="#!">In</a>
                        <a href="#!">Be</a>
                    </nav> -->
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 footer-widget-text">
                            <h6 class="widget-title">PHONE</h6>
                            <p class="widget-content">+91-9877105782</p>
                        </div>
                        <div class="col-md-6 footer-widget-text">
                            <h6 class="widget-title">ENQUIRUES</h6>
                            <p class="widget-content">constitutionofsciencecos@gmail.com</p>
                        </div>
                        <div class="col-md-6 footer-widget-text">
                            <h6 class="widget-title">ADDRESS</h6>
                            <p class="widget-content">Guru Nanak Nagar <br> Patiala Punjab</p>
                        </div>
                        <div class="col-md-6 footer-widget-text">
                            <h6 class="widget-title">WORK DAYS</h6>
                            <p class="widget-content">Saturday <br> Sunday</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="footer-text">
            <p class="mb-md-0">©  2020, oleez Theme. Made with passion by <a href="https://www.bootstrapdash.com" target="_blank" rel="noopener noreferrer" class="text-reset">BootstrapDash</a>.</p>
            <p class="mb-0">All right reserved.</p>
        </div> -->
    </div>
</footer>