<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Constitution of Science</title>
    <link rel="stylesheet" href="vendors/animate.css/animate.min.css">
    <link rel="stylesheet" href="vendors/slick-carousel/slick.css">
    <link rel="stylesheet" href="vendors/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- google fonts (Roboto medium 500)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet"> 

    <script src="vendors/jquery/jquery.min.js"></script>
    <script src="js/loader.js"></script>