<nav id="offCanvasMenu" class="off-canvas-menu">
    <button type="button" class="close" aria-label="Close" data-dismiss="offCanvasMenu">
        <span aria-hidden="true">&times;</span>
    </button>
    <ul class="oleez-social-menu">
        <li>
            <a href="#!" class="oleez-social-menu-link">Facebook</a>
        </li>
        <li>
            <a href="https://www.instagram.com/constitutionofscience/" class="oleez-social-menu-link">Instagram</a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UC8ywM7RtMrL1kAIiHENOg_g/videos" class="oleez-social-menu-link">YouTube</a>
        </li>
    </ul>
</nav>